body {
    font-size: 14pt;
    max-width: 75ch;
    margin: auto;
    padding: 3em 1em;
    font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
    font-weight: 300;
}

strong {
    font-weight: 700;
}

p,
pre,
ul,
img {
    margin: 0 0 24pt 0;
}

h1 {
    font-size: 24pt;
    line-height: 24pt;
    margin: 72pt 0 24pt 0;
    font-family: Didot, 'Bodoni MT', 'Noto Serif Display', 'URW Palladio L', P052, Sylfaen, serif;
    font-weight: 700;
}

p,
li {
    line-height: 24pt;
}

pre {
    border: 1px solid black;
    padding: 12pt;
    white-space: pre;
    overflow-x: auto;
    overflow-y: hidden;
    max-width: 100%;
}

code {
    font-size: 12pt;
    line-height: 12pt;
    font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
    font-weight: 400;
}

a,
a:visited {
    text-decoration: none;
    background-color: #ffe100;
    color: #000;
    padding: 0 2pt;
    /* to keep the padding consistent for line breaks: */
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

a:hover,
a:active {
    text-decoration: underline;
}

img {
    width: 100%;
}

img.border {
    border: 1px solid black;
}