@font-face {
  font-family: "Wintyr";
  src: url("../fonts/WintyrVF.woff2") format("woff2"),
    url("../fonts/WintyrVF.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Imbue";
  src: url("../fonts/Imbue.woff2") format("woff2"),
    url("../fonts/Imbue.ttf") format("truetype");
  font-weight: 100 900;
  font-display: block;
}

:root {
  --color-yellow: #ffe100;
  --line-thickness: 2px;
  --max-width: 46rem;
}

html {
  scroll-behavior: smooth;
  text-transform: lowercase;
  position: relative;
}

body {
  font-size: 1rem;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 4rem 1rem 2rem 1rem;
  font-weight: 300;
  font-family: "Wintyr", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  font-feature-settings: "ss01" 1, "ss08" 1, "ss13" 1;
}

p,
h1,
h2,
h3,
ul,
blockquote,
footer {
  position: relative;
}

p::before,
h1::before,
h2::before,
h3::before,
ul::before,
blockquote::before,
footer::before {
  content: "";
  position: absolute;
  top: -2.2rem;
  left: min(-1 * ((100vw - var(--max-width)) / 2 - 2rem), -1rem);
  right: min(-1 * ((100vw - var(--max-width)) / 2 - 2rem), -1rem);
  bottom: -2.2rem;
  background: radial-gradient(circle at center, #bbb 1px, transparent 1px);
  background-size: 2rem 2rem;
  background-position: calc((100vw - var(--max-width)) / 2 + 1rem) 1.2rem;
  pointer-events: none;
  z-index: -1;
}

h1,
h2 {
  font-weight: 700;
  font-family: "Imbue", serif;
  font-style: italic;
}

h1::before {
  top: -10.2rem;
  bottom: -6.2rem;
}

h1 {
  font-size: 6rem;
  line-height: 6rem;
  margin: 10rem 0 6rem 0;
}

h2::before {
  top: -6.2rem;
}

h2 {
  font-size: 4rem;
  line-height: 4rem;
  margin: 6rem 0 2rem 0;
}

h3 {
  font-family: "Wintyr", monospace;
  font-size: 1rem;
  line-height: 2rem;
  font-weight: 300;
  font-style: italic;
  margin: 4rem 0 0rem 0;
  display: flex;
  align-items: flex-start;
}

h3::after {
  content: "";
  flex: 1;
  min-width: 50%;
  margin-left: 1rem;
  height: var(--line-thickness);
  background-color: black;
  margin-top: calc(1rem - (var(--line-thickness) / 2));
}

h1,
h2,
ul {
  text-wrap: balance;
}

p,
li,
h3,
blockquote,
footer {
  line-height: 2rem;
}

img {
  margin: 2rem 0 2rem 0;
  /* combine border and outline so that the line sits right on the dot grid */
  border: calc(var(--line-thickness) / 2) solid black;
  outline: calc(var(--line-thickness) / 2) solid black;
  padding: 0;
  display: block;
  width: 100%;
}

pre {
  margin: 2rem -2rem 2rem -2rem;
  /* combine border and outline so that the line sits right on the dot grid */
  border: calc(var(--line-thickness) / 2) solid black;
  outline: calc(var(--line-thickness) / 2) solid black;
  padding: 2rem;
  white-space: pre;
  overflow-x: auto;
  overflow-y: hidden;
  max-width: 100%;
}

code {
  font-family: "Wintyr", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 700;
  text-transform: none;
}

pre code {
  line-height: 1.25rem;
  font-weight: 400;
  font-variation-settings: "MONO" 1;
}

p,
ul {
  margin: 0 0 2rem 0;
}

ul {
  padding-left: 2rem;
  list-style-type: none;
}

li {
  position: relative;
}

li::before {
  content: "";
  position: absolute;
  left: -1rem;
  top: 50%;
  transform: translate(-50%, -50%);
  width: calc(var(--line-thickness) * 2);
  height: calc(var(--line-thickness) * 2);
  background-color: black;
}

strong {
  font-weight: 700;
}

blockquote {
  margin: 0 0 2rem 2rem;
}

footer {
  margin: 4rem 0 2rem 0;
  font-style: italic;
  color: #666;
}

a,
a:visited {
  color: unset;
}

a:not([href*='//']):not([href*='mailto:']),
a:not([href*='//']):not([href*='mailto:']):visited
{
  text-decoration: none;
  background-color: black;
  color: #ddd;
  padding: 0.375rem;
  /* to keep the padding consistent for line breaks: */
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;

  &:hover,
  &:active {
    background-color: var(--color-yellow);
    color: black;
  }
}

a[href*='mailto:'],
a[href*='//'],
a[href*='//']:visited
{
  padding: 0.375rem 0;
  text-decoration-thickness: var(--line-thickness);
  text-underline-offset: 0.375rem;

  &:hover,
  &:active {
    text-decoration: none;
    color: black;
    background-color: var(--color-yellow);
  }
}
