html {
    scroll-behavior: smooth;
}

body {
    font-size: 14pt;
    max-width: 75ch;
    margin: auto;
    padding: 3em 1em;
    font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
    font-weight: 300;
}

strong {
    font-weight: 700;
}

p,
pre,
ul,
img {
    margin: 0 0 24pt 0;
}

blockquote {
    margin: 0 0 24pt 24pt;
}

footer {
    margin: 48pt 0 24pt 0;
    font-style: italic;
    color: #666;
}

h1,
h2,
h3 {
    font-weight: 500;
    font-family: Optima, Candara, 'Noto Sans', source-sans-pro, sans-serif;
}

h1 {
    font-size: 44pt;
    line-height: 48pt;
    margin: 128pt 0 72pt 0;
    text-wrap: balance;
}

h2 {
    font-size: 32pt;
    line-height: 36pt;
    margin: 72pt 0 24pt 0;
}

h3 {
    font-size: 16pt;
    margin: 36pt 0 12pt 0;
}

p,
li,
h3,
blockquote {
    line-height: 24pt;
}

pre {
    border: 1px solid black;
    padding: 12pt;
    white-space: pre;
    overflow-x: auto;
    overflow-y: hidden;
    max-width: 100%;
}

code {
    font-size: 12pt;
    line-height: 12pt;
    font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
    font-weight: 600;
}

pre code {
    font-size: 10pt;
    font-weight: 400;
}

a,
a:visited {
    color: unset;
}

a[href*='//'],
a[href*='//']:visited {
    text-decoration-color: #ffe100;
    text-decoration-thickness: 4pt;

    &:hover,
    &:active {
        text-decoration-color: #000;
    }
}

a:not([href*='//']),
a:not([href*='//']):visited {
    /* Required for z-index to work: */
    position: relative;
    text-decoration: none;
    background-color: #ffe100;
    padding: 3pt 2pt;
    /* to keep the padding consistent for line breaks: */
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    z-index: 1;

    &:hover,
    &:active {
        color: #ffe100;
        background-color: #000;
        z-index: 10;
    }
}

img {
    width: 100%;
    border: 1px solid black;
}