@font-face {
  font-family: "Wintyr";
  src:
    url("../fonts/WintyrVF.woff2") format("woff2"),
    url("../fonts/WintyrVF.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Imbue";
  src:
    url("../fonts/Imbue.woff2") format("woff2"),
    url("../fonts/Imbue.ttf") format("truetype");
  font-weight: 100 900;
  font-display: block;
}

:root {
  --color-text: #444;
  --color-heading: #000;
  --color-border: #000;
  --color-footer: #aaa;
  --color-link: #ddd;
  --color-link-active: #000;
  --color-link-bg: #000;
  --color-link-bg-active: #ffe100;
  --line-thickness: 2px;
  --max-width: 46rem;
  --hover-padding: 0.25rem;
  --dotgrid-offset: max(((100vw - var(--max-width)) / 2 - 2rem), 1rem);
}

html {
  scroll-behavior: smooth;
  position: relative;
  color: var(--color-text);
}

body {
  font-size: 1rem;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 4rem 1rem 2rem 1rem;
  font-weight: 300;
  font-family: "Wintyr", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  font-feature-settings:
    "ss01" 1,
    "ss08" 1,
    "ss13" 1;
}

nav > ul {
  display: flex;
  flex-wrap: wrap;
  gap: 0rem 0.5rem;
  padding: 0;
}

nav > ul > li::before {
  display: none;
}

section {
  position: relative;
}

section::before {
  content: "";
  position: absolute;
  left: calc(-1 * var(--line-thickness) / 2 - 2rem);
  top: calc(1rem - (var(--line-thickness) / 2));
  bottom: calc(1rem - (var(--line-thickness) / 2));
  width: 1rem;
  border-top: var(--line-thickness) solid var(--color-heading);
  border-left: var(--line-thickness) solid var(--color-heading);
  border-bottom: var(--line-thickness) solid var(--color-heading);
}

@media (max-width: 48rem) {
  body {
    margin-left: calc(mod(100vw, 2rem) / 2);
    margin-right: calc(mod(100vw, 2rem) / 2);
  }

  nav > ul {
    display: block;
  }

  section {
    margin-left: 2rem;
  }
}

h1,
h2,
h3 {
  color: var(--color-heading);
}

h1,
h2 {
  font-weight: 700;
  font-family: "Imbue", serif;
  font-style: italic;
}

h1 {
  font-size: 6rem;
  line-height: 6rem;
  margin: 10rem 0 6rem 0;
}

h2 {
  font-size: 4rem;
  line-height: 4rem;
  margin: 6rem 0 2rem 0;
}

h3 {
  font-family: "Wintyr", monospace;
  font-size: 1rem;
  line-height: 2rem;
  font-weight: 700;
  font-style: italic;
  margin: 4rem 0 0rem 0;
  display: flex;
  align-items: flex-start;
}

h3::after {
  content: "";
  flex: 1;
  min-width: 50%;
  margin-left: 1rem;
  height: var(--line-thickness);
  background-color: var(--color-heading);
  margin-top: calc(1rem - (var(--line-thickness) / 2));
}

h1,
h2,
ul {
  text-wrap: balance;
}

p,
li,
h3,
blockquote,
footer {
  line-height: 2rem;
}

img {
  margin: 2rem 0 2rem 0;
  /* combine border and outline so that the line sits right on the dot grid */
  border: calc(var(--line-thickness) / 2) solid var(--color-border);
  outline: calc(var(--line-thickness) / 2) solid var(--color-border);
  padding: 0;
  display: block;
  width: 100%;
}

pre {
  margin: 2rem -2rem 2rem -2rem;
  /* combine border and outline so that the line sits right on the dot grid */
  border: calc(var(--line-thickness) / 2) solid var(--color-border);
  outline: calc(var(--line-thickness) / 2) solid var(--color-border);
  padding: 2rem;
  white-space: pre;
  overflow-x: auto;
  overflow-y: hidden;
  max-width: 100%;
}

code {
  font-family: "Wintyr", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 700;
  text-transform: none;
}

pre code {
  line-height: 1.5rem;
  font-weight: 400;
  font-variation-settings: "MONO" 1;
}

p,
ul {
  margin: 0 0 2rem 0;
}

ul {
  padding-left: 2rem;
  list-style-type: none;
}

li {
  position: relative;
}

li::before {
  content: "";
  position: absolute;
  left: calc(-1rem - var(--line-thickness));
  top: calc(1rem - var(--line-thickness));
  width: calc(var(--line-thickness) * 2);
  height: calc(var(--line-thickness) * 2);
  background-color: var(--color-text);
}

strong {
  font-weight: 700;
}

blockquote {
  margin: 0 0 2rem 2rem;
}

footer {
  margin: 4rem 0 2rem 0;
  color: var(--color-footer);
}

a,
a:visited {
  color: unset;
  position: relative;
  z-index: 1;
}

a:not([href*="//"]):not([href*="mailto:"]),
a:not([href*="//"]):not([href*="mailto:"]):visited {
  text-decoration: none;
  color: var(--color-link);
  background-color: var(--color-link-bg);
  padding: 0.375rem;
  /* to keep the padding consistent for line breaks: */
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;

  &:hover,
  &:active {
    padding: calc(0.375rem + var(--hover-padding));
    margin: calc(var(--hover-padding) * -1);
    color: var(--color-link-active);
    background-color: var(--color-link-bg-active);
    z-index: 999;
  }
}

a[href*="mailto:"],
a[href*="//"],
a[href*="//"]:visited {
  padding: 0.375rem 0;
  text-decoration: underline currentColor;
  text-decoration-thickness: var(--line-thickness);
  text-underline-offset: calc(0.375rem * 2 - var(--line-thickness));

  &:hover,
  &:active {
    padding: calc(0.375rem + var(--line-thickness) / 2)
      calc(var(--line-thickness) / 2);
    margin: 0 calc(var(--line-thickness) / 2 * -1);
    text-decoration: none;
    color: var(--color-link-active);
    background-color: var(--color-link-bg-active);
    z-index: 999;
  }
}
